.view-table{margin:50px auto 80px;max-width:1300px}
.view-table .title{padding:15px 20px;border-top:1px solid #111;border-bottom:1px solid #e1e1e1;font-size:18px;font-weight:600;background-color:#f5f5f5}
.view-table .user{display:flex;justify-content:space-between;padding:15px 20px;border-bottom:1px solid #e1e1e1;font-size:14px;color:#777}
.view-table .user span{padding-right:10px;margin-right:10px;border-right:1px solid #e1e1e1}
.view-table .info{padding:15px 20px;border-bottom:1px solid #e1e1e1;font-size:15px}
.view-table .info > li{display:flex;align-items:center;gap:10px}
.view-table .info > li + li{margin-top:10px}
.view-table .info > li > span{min-width:80px;height:30px;line-height:30px;text-align:center;font-size:14px;border:1px solid #e1e1e1;border-radius:20px;background-color:#f5f5f5}
.view-table .content{padding:15px 20px;font-size:15px}
.view-table .btn{display:flex;align-items:center;gap:10px;margin-top:30px}
.view-table .btn a, .view-table .btn button{width:90px;height:40px;line-height:40px;text-align:center;font-size:14px;border:none;border-radius:4px;color:#fff;background-color:var(--primary);cursor:pointer}
.view-table .btn .edit-btn{color:#fff;background-color:#0054a6}
.view-table .btn .delete-btn{color:#ff567f;background-color:#ffd1dc}

/* 반응형 [s] */
@media (max-width:1300px){
.view-table{max-width:95%}
}
@media (max-width:768px){
.view-table .title{font-size:16px}
.view-table .user{font-size:13px}
.view-table .info{padding:15px}
.view-table .info > li{font-size:14px}
.view-table .info > li > span{min-width:70px;font-size:12px}
.view-table .content{font-size:14px}
.view-table .btn a, .view-table .btn button{width:80px;height:38px;line-height:38px;font-size:13px}
}
@media (max-width:480px){
.view-table{display:flex;flex-direction:column;min-height:300px;}
.view-table .title{font-size:15px}
.view-table .user{font-size:12px}
.view-table .info{padding:12px}
.view-table .info > li{font-size:13px}
.view-table .info > li > span{min-width:65px}
.view-table .content{margin-bottom:50px; font-size:13px}
.view-table .btn{margin-top:auto;}
.view-table .btn a, .view-table .btn button{width:75px;height:35px;line-height:35px;font-size:12px}
}
/* 반응형 [e] */